<%- breadcrum t("monthly_stat.names.#{@ranking.column_names.first}") -%>

<%= content_for(:container_css_class){ "full-width" } %>

<div class='ranking-container'>
  <nav class='ranking-navbar' role='navigation'>
    <div class="filter-wrap">
      <div class='filter-controls'>
        <%= form_for @ranking, url: history_ranking_path, method: :get, :html => { class: 'form-inline' } do |f| %>
          <div class='form-group form-group-flex'>
            <%= f.date_select :ref_since, { discard_day: true, start_year: 2010, end_year: Date.today.year }, { class: 'form-control' } %>
            <span class='label-to'>a</span>
            <%= f.date_select :ref_until, { discard_day: true, start_year: 2010, end_year: Date.today.year }, { class: 'form-control' } %>
          </div>
          <div class="btn-group">
            <%= f.select   :column_names,
                           #Ranking::COLUMNS_FOR_VIEW.flatten.map{|name| [t("monthly_stat.names.#{name}"), name]},
                           Ics::ICS.flatten.map{|name| [t("monthly_stat.names.#{name}"), name]},
                           {},
                           {
                              data: {
                                'none-selected-text' => t('rankings.history.choose_stat_name')}, 
                              class: 'choose-columns-select'
                            }
            %>
            
          </div>
          <div class='btn-group'>
            <%= f.select   :federation_ids,
                           @federations.map{|f| [f.name, f.id]},
                           {},
                           {
                              data: {
                                'none-selected-text' => t('ranking.federations')}, 
                              multiple: :multiple,
                              class: 'choose-columns-select'
                            }
            %>
          </div>
          <button type="submit" class="btn btn-secondary btn-sm" data-disable-with="..."><%= t('rankings.show.apply') %></button>
        <% end -%>
      </div>
      <div class="filter-controls filter-controls-right">
        <%= link_to "<span class='glyphicon glyphicon-download'></span>".html_safe,
                    history_ranking_path(params: params, format: :csv),
                    class: 'btn btn-secondary btn-sm filter-controls-right' %>
      </div>
    </div>
  </nav>
  <section class='ranking-content'>
    <div id="historyChartContainer" class="chart-container"></div> <!-- chart -->
    <div class='table-responsive'>
      <table id="ranking_table" class="table table-striped tablesorter-blue table-sorter">
        <thead class="static-table-header">
          <tr>
            <th> <%= t('.school_name') %> </th>
            <% @ref_dates.each do |ref_date| %>
              <th> <%= l(ref_date, format: :month) %> </th>
            <% end %>
          </tr>
        </thead>
        <tfoot>
            <% unless (MonthlyStat.is_a_rate?(@stat_name) || (MonthlyStat.default_reduction(@stat_name) == :avg)) %>
              <tr>
                <th><%= t(".sum") %></th>
                <% @ref_dates.each do |ref_date| %>
                  <th>
                    <%= print_value @sums[ref_date] %>
                  </th>
                <% end %>
              </tr>
            <% end %>
            <% unless LocalStat.has_special_reduction?(@stat_name) %>
              <tr>
                <th><%= t(".avg") %></th>
                <% @ref_dates.each do |ref_date| %>
                  <th>
                    <%= print_value @avgs[ref_date] %>
                  </th>
                <% end %>
              </tr>
            <% end %>
        </tfoot>
        <tbody>
          <% @schools.each do |school| %>
            <tr>
              <th><%= link_to_if can?(:read, school), school.full_name, school %></th>
              <% @ref_dates.each do |ref_date| %>
                <% if @stats_hash[ref_date][school.id].nil? -%>
                  <td></td>
                <% else -%>
                  <td>
                    <%= print_value @stats_hash[ref_date][school.id] %>
                  </td>
                <% end -%>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</div>

<script>
  var historyChartData = [
    <%- @ref_dates.each_with_index do |ref_date,index| -%>
      {
        month: "<%= l(ref_date, format: :month) %>",
        data: <%= print_value @graph_data[ref_date], sufix: '' %>
      }
      <%= "," unless index == @ref_dates.size-1 %>
    <%- end -%>
  ];
</script>

<%= content_for(:body_end) do %>
  <%= javascript_include_tag "history" %>
<% end %>
