<h2><%= t('ranking.title') %></h2>

<%= form_for @ranking, url: ranking_path, method: :put, class: "form-horizontal" do |f| %>
  Date
    <div class="form-group">
      <%= select_month @ranking.date, {}, {class: 'col-sm-offset-1 form-control'}
      %>
    </div> 
    <div class="form-group">
      <%= select_year @ranking.date, {}, {class: 'col-sm-offset-1 form-control'}
      %>
    </div> 
  

  Federations
  <% @federations.each_slice(4).to_a.each do |feds_row| -%>
    <div class="form-group">
      <% feds_row.each do |fed| -%>
        <label class="checkbox-inline col-sm-offset-1">
          <%= f.check_box 'federation_ids', {multiple: true, checked: federation_selected?(fed.id,@ranking)}, fed.id, false %> <%= fed.name %>
        </label>
      <% end -%>
    </div>
  <% end -%>

  Columns
  <% Ranking::VALID_COLUMNS.each_slice(4).to_a.each do |row_of_names| -%>
    <div class="form-group">
      <% row_of_names.each do |name|-%>
        <label class="checkbox-inline col-sm-offset-1">
          <%= f.check_box :column_names, {multiple: true, checked: true}, name, false %> <%= t("monthly_stat.names.#{name}") %>
        </label>
      <% end -%>
    </div>
  <% end -%>
    <div class="form-group">
      <button type="submit" class="btn btn-primary col-sm-offset-0"><%= t('submit') %></button> 
    </div>
<% end -%>
<table id="ranking_table" class="table table-striped table-bordered table-condensed tablesorter-blue">
  <thead>
    <tr>
      <th> <%= t('ranking.name') %> </th>
      <% @ranking.column_names.each do |name| %>
        <th> <%= t("monthly_stat.names.#{name}") %> </th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @ranking.matrix.each do |school, stats_hash| %> 
      <tr>
        <th> <%= link_to_if can?(:read, school), school.name, school %> </th>
        <% @ranking.column_names.each do |name| %>
          <th> <%= stats_hash[name.to_s].value if not stats_hash[name.to_s].nil?%></th>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
