<%- model_class = Federation.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table id="federations_table" class="table table-striped tablesorter-blue table-sorter">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= t('.schools_count') %></th>
      <th><%= t('.students_count') %></th>
      <th><%= t('.dropout_rate_last_12_months') %></th>
      <th><%= t('.teachers') %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @federations.each do |federation| %>
      <tr>
        <td><%= link_to_if can?(:read,federation), federation.name, federation %></td>
        <td><%= link_to(@schools_sums[federation.id], ranking_path(federation_id: federation.id)) %></td>
        <td><%= link_to(@students_sums[federation.id], history_ranking_path(ranking: {
          federation_ids: [federation.id],
          column_names: :students,
          ref_since: @ref_since,
          ref_until: @ref_until
        })) %></td>
        <td><%= link_to(@dropouts_rates[federation.id], history_ranking_path(ranking: {
          federation_ids: [federation.id],
          column_names: :dropout_rate,
          ref_since: @ref_since,
          ref_until: @ref_until
        })) if @dropouts_rates[federation.id] %></td>
        <td><%= link_to(@teachers_sums[federation.id], history_ranking_path(ranking: {
          federation_ids: [federation.id],
          column_names: :team_teachers,
          ref_since: @ref_since,
          ref_until: @ref_until
        })) %></td>
        <td>
          <%= link_to(t(".see_all_federation_ics"), federation) if can?(:read,federation) %>
          <%= link_to(t('edit', :default => t("helpers.links.edit")),
                      edit_federation_path(federation), :class => 'btn btn-mini') if can?(:edit,federation) %>
          <%= link_to(t('destroy', :default => t("helpers.links.destroy")),
                      federation_path(federation),
                      :method => :delete,
                      :confirm => t('confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger') if can?(:destroy, federation) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to(t('.new', :default => t("helpers.links.new")),
            new_federation_path,
            :class => 'btn btn-primary') if can?(:create,Federation) %>
