<%- model_class = @federation.class -%>
<div class="page-header">
  <h1>
    <%= @federation.name %>
    <%- if can?(:update, @federation) -%>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_federation_path(@federation), :class => 'btn btn-mini' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  federation_path(@federation),
                  :method => 'delete',
                  :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                  :class => 'btn btn-danger btn-mini' %>
    <%- end -%>
  </h1>
</div>

<div id="chartContainer" class="chart-container"></div>

<%= render 'monthly_stats/chrono_table' %>

<div>
  <%= link_to t('.schools'), schools_path(q: {federation_id_eq: @federation.id}), class: 'btn' %>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              federations_path, :class => 'btn'  %>
</div>

<script>
  chartData = [
    <%- (1...12).each do |month| -%>
    {
      month: "<%= Date::MONTHNAMES[month] %>",
      students: <%= monthly_stat = @monthly_stats[:students][month]; monthly_stat.try(:value) || 0 %>,
      dropouts: <%= monthly_stat = @monthly_stats[:dropouts][month]; monthly_stat.try(:value) || 0 %>,
      enrollments: <%= monthly_stat = @monthly_stats[:enrollments][month]; monthly_stat.try(:value) || 0 %>,
      p_interviews: <%= monthly_stat = @monthly_stats[:p_interviews][month]; monthly_stat.try(:value) || 0 %>
    },
    <%- end -%>
    <%- month = 12 -%>
    {
      month: "<%= Date::MONTHNAMES[month] %>",
      students: <%= monthly_stat = @monthly_stats[:students][month]; monthly_stat.try(:value) || 0 %>,
      dropouts: <%= monthly_stat = @monthly_stats[:dropouts][month]; monthly_stat.try(:value) || 0 %>,
      enrollments: <%= monthly_stat = @monthly_stats[:enrollments][month]; monthly_stat.try(:value) || 0 %>,
      p_interviews: <%= monthly_stat = @monthly_stats[:p_interviews][month]; monthly_stat.try(:value) || 0 %>
  }
  ]
</script>