<% if @school.sync_requests.unfinished.where(year: @year).empty? -%>
  <%- if can?(:create, SyncRequest) && @school.padma_enabled?  -%>
    <% cur_month = Time.zone.now.month -%>
    <%= form_for [@school,@school.sync_requests.new(year: @year, priority: 10)], method: 'POST', id: 'request-sync-form' do |f| %>
      <%= f.hidden_field :year %>
      <%= f.hidden_field :priority %>
      <% if @year.to_i == Time.zone.now.year -%>
        <%= f.hidden_field :month, value: cur_month %>
        <button type='submit' class='btn btn-secondary btn-sm'>
          <span class='glyphicon glyphicon-refresh'></span>
        </button>
      <% else -%>
        <button type='submit' class='btn btn-secondary btn-sm'>
          <span class='glyphicon glyphicon-refresh'></span>
        </button>
      <% end -%>
    <% end -%>
  <%- end -%>
<% end -%>
<% @school.sync_requests.each do |sr| -%>
  <% case sr.state -%>
    <% when 'ready' -%>
      <% if sr.night_only? %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= sr.month %>/<%= sr.year %> - <%= t('schools.sync_request_notification.night_sync') %>
          <%- if can?(:create, SyncRequest) && @school.padma_enabled?  -%>
            <%= link_to t('schools.show.sync_now'), "javascript: $('#edit_sync_request_#{sr.id}').submit();" %>
          <% end %>
        </div>
      <% else %>
        <div class="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= sr.month %>/<%= sr.year %> - 
          <% if sr.low_priority? %>
            <%= t('schools.sync_request_notification.pending_sync') %>
          <% else %>
            <%= t('schools.sync_request_notification.high_priority_sync') %>
          <% end %>
          <%- if can?(:create, SyncRequest) && @school.padma_enabled? && sr.low_priority? -%>
            <%= link_to t('schools.show.sync_now'), "javascript: $('#edit_sync_request_#{sr.id}').submit();" %>
          <% end %>
        </div>
      <% end %>
      <% if sr.low_priority? -%>
        <%- if can?(:create, SyncRequest) && @school.padma_enabled?  -%>
          <%= form_for [@school,sr], method: 'PUT', id: 'request-sync-form' do |f| %>
            <%= f.hidden_field :priority, value: 15 %>
          <% end -%>
        <% end -%>
      <% end -%>
    <% when 'running' -%>
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= sr.month %>/<%= sr.year %> - <%= t('schools.sync_request_notification_running_sync') %>
      </div>
    <% when 'failed' -%>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= sr.month %>/<%= sr.year %> - <%= t('schools.sync_request_notification.failed_sync') %>
      </div>
  <% end -%>
<% end -%>