<%- model_class = School.new.class -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= render :partial => 'search_form' %>

<%= paginate @schools %>

<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <%- query = params.reject{|k|k == 'action' || k== 'controller'} -%>
      <th><%= link_to model_class.human_attribute_name(:name), schools_path(order: 'name asc', params: query) %></th>
      <th><%= model_class.human_attribute_name(:federation_id) %></th>
      <th><%= link_to t('.students'), schools_path(order: 'last_students_count desc', params: query), rel: 'tooltip', data: {'original-title' => t('.last_registered_stat')} %></th>
      <th><%= link_to_if false, t('.teachers'), schools_path(order: 'last_teachers_count desc', params: query), rel: 'tooltip', data: {'original-title' => t('.last_registered_stat')} %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @schools.each do |school| %>
      <tr>
          <td>
            <%- unless school.padma_enabled? -%>
              <span class="badge badge-important"><a href="#" rel="tooltip" data-original-title="<%= t('.not_syncing') %>">!</a></span>
            <%- end -%>
          </td>
        <td><%= link_to_if can?(:read,school), school.name, school_path(school) %></td>
        <td><%= school.federation.try :name %></td>
        <td>
          <%= school.last_students_count %>
        </td>
        <td>
          <%= school.last_teachers_count %>
        </td>
        <td>
          <%= link_to(t('edit', :default => t("helpers.links.edit")),
                      edit_school_path(school), :class => 'btn btn-mini') if can?(:edit, school) %>
          <%= link_to(t('destroy', :default => t("helpers.links.destroy")),
                      school_path(school),
                      :method => :delete,
                      :confirm => t('confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger') if can?(:destroy,school) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%- if can? :create, School -%>
  <%= link_to t('.new', :default => t("helpers.links.new")),
              new_school_path,
              :class => 'btn btn-primary' %>
<%- end -%>