<%- model_class = @school.class -%>
<div class="page-header">
  <h1>
    <%= @school.name %>
    <%- if can?(:edit, @school) -%>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_school_path(@school), :class => 'btn btn-mini' %>
    <%- end -%>
    <%- if can?(:destroy, @school) -%>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  school_path(@school),
                  :method => 'delete',
                  :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                  :class => 'btn btn-danger btn-mini  ' %>
    <%- end -%>
  </h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:federation_id) %>:</strong></dt>
  <dd><%= @school.federation.try :name %></dd>
  <%- if can?(:sync, @school) -%>
    <dt><strong>Nucleo:</strong></dt>
    <dd><%= @school.nucleo_id %> (<%= @school.nucleo_enabled?? 'enabled' : 'disabled' %>)</dd>

    <dt><strong>Padma Account:</strong></dt>
    <dd><%= @school.account_name %> (<%= @school.padma_enabled?? 'enabled' : 'disabled' %>)</dd>
  <%- end -%>
</dl>

<div id="chartContainer" class="chart-container"></div>

<div id="stats">
  <%= render 'monthly_stats/chrono_table' %>
  <%= link_to(t('.new', :default => t("helpers.links.new")),
              new_school_monthly_stat_path(school_id: @school.id),
              :class => 'btn btn-primary') if can?(:create,@school.monthly_stats.new) %>
  <%- if can?(:sync, @school) -%>
    <%- if @school.padma_enabled? -%>
      <%= link_to(t('.sync_year_data', year: @year).capitalize,
                  sync_year_school_path(id: @school.id, year: @year),
                  class: 'btn btn-primary') %>
    <%- end -%>
  <%- end -%>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              schools_path, :class => 'btn'  %>
</div>

<script>
  chartData = [
    <%- (1...12).each do |month| -%>
      {
        month: "<%= Date::MONTHNAMES[month] %>",
        students: <%= monthly_stat = @monthly_stats[:students][month]; monthly_stat.try(:value) || 0 %>,
        dropouts: <%= monthly_stat = @monthly_stats[:dropouts][month]; monthly_stat.try(:value) || 0 %>,
        enrollments: <%= monthly_stat = @monthly_stats[:enrollments][month]; monthly_stat.try(:value) || 0 %>,
        interviews: <%= monthly_stat = @monthly_stats[:interviews][month]; monthly_stat.try(:value) || 0 %>

      },
    <%- end -%>
    <%- month = 12 -%>
    {
      month: "<%= Date::MONTHNAMES[month] %>",
      students: <%= monthly_stat = @monthly_stats[:students][month]; monthly_stat.try(:value) || 0 %>,
      dropouts: <%= monthly_stat = @monthly_stats[:dropouts][month]; monthly_stat.try(:value) || 0 %>,
      enrollments: <%= monthly_stat = @monthly_stats[:enrollments][month]; monthly_stat.try(:value) || 0 %>,
      interviews: <%= monthly_stat = @monthly_stats[:interviews][month]; monthly_stat.try(:value) || 0 %>
    }
  ]
</script>