<%- content_for :title do -%>
<%= @school.name %>
<%- end -%>

<%- model_class = @school.class -%>
<div class="page-header">
  <%= link_to "<span class='glyphicon glyphicon-cloud-download'></span> #{t('download')}".html_safe, school_url(id: @school.id, format: 'csv', year: @year), class: 'btn btn-default', id: 'download-link' %>
  <h1>
    <%= @school.name %>
  </h1>
  <h2>
    <div>
      <span id="current_year" title="<%= t('schools.show.click_to_change') %>"><%= @year %></span>
      <%= form_tag nil, method: 'GET', class: 'form-inline', id: 'set-year'  do -%>
        <%= select_tag( :year, options_for_select(@years,@year)) %>
        <%= submit_tag(t('see'), class: 'btn') %>
      <%- end -%>
    </div>
  </h2>
  <%= render :partial => 'sync_request_notification' %>
</div>

<div id="chartContainer" class="chart-container"></div>

<div id="stats">
  <%= render 'monthly_stats/chrono_table', monthly_stats: @school_monthly_stats %>
  <%= link_to(t('.new', :default => t("helpers.links.new")),
              new_school_monthly_stat_path(school_id: @school.id),
              :class => 'btn btn-primary') if can?(:create,@school.monthly_stats.new) %>

  <%- @teachers_monthly_stats.each_pair do |teacher_id, stats| %>
    <% unless stats.values.reject(&:empty?).empty? -%>
      <%= render "monthly_stats/chrono_table", monthly_stats: stats, hide_year_form: true, title: Teacher.find(teacher_id).try(:full_name) %>
    <% end -%>
  <% end %>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              schools_path, :class => 'btn'  %>
</div>

<script>
  chartData = [
    <%- (1..12).each do |month| -%>
      {
        month: "<%= Date::MONTHNAMES[month] %>",
        students: <%= monthly_stat = @school_monthly_stats[:students][month]; monthly_stat.try(:value) || 0 %>,
        dropouts: <%= monthly_stat = @school_monthly_stats[:dropouts][month]; monthly_stat.try(:value) || 0 %>,
        enrollments: <%= monthly_stat = @school_monthly_stats[:enrollments][month]; monthly_stat.try(:value) || 0 %>,
        p_interviews: <%= monthly_stat = @school_monthly_stats[:p_interviews][month]; monthly_stat.try(:value) || 0 %>,
        assistant_students: <%= monthly_stat = @school_monthly_stats[:assistant_students][month]; monthly_stat.try(:value) || 0 %>,
        professor_students: <%= monthly_stat = @school_monthly_stats[:professor_students][month]; monthly_stat.try(:value) || 0 %>,
        master_students: <%= monthly_stat = @school_monthly_stats[:master_students][month]; monthly_stat.try(:value) || 0 %>,
        male_students: <%= monthly_stat = @school_monthly_stats[:male_students][month]; monthly_stat.try(:value) || 0 %>,
        female_students: <%= monthly_stat = @school_monthly_stats[:female_students][month]; monthly_stat.try(:value) || 0 %>
      },
    <%- end -%>
    <%- month = 12 -%>
    {
      month: "<%= Date::MONTHNAMES[month] %>",
      students: <%= monthly_stat = @school_monthly_stats[:students][month]; monthly_stat.try(:value) || 0 %>,
      dropouts: <%= monthly_stat = @school_monthly_stats[:dropouts][month]; monthly_stat.try(:value) || 0 %>,
      enrollments: <%= monthly_stat = @school_monthly_stats[:enrollments][month]; monthly_stat.try(:value) || 0 %>,
      p_interviews: <%= monthly_stat = @school_monthly_stats[:p_interviews][month]; monthly_stat.try(:value) || 0 %>,
      assistant_students: <%= monthly_stat = @school_monthly_stats[:assistant_students][month]; monthly_stat.try(:value) || 0 %>,
      professor_students: <%= monthly_stat = @school_monthly_stats[:professor_students][month]; monthly_stat.try(:value) || 0 %>,
      master_students: <%= monthly_stat = @school_monthly_stats[:master_students][month]; monthly_stat.try(:value) || 0 %>,
      male_students: <%= monthly_stat = @school_monthly_stats[:male_students][month]; monthly_stat.try(:value) || 0  %>,
      female_students: <%= monthly_stat = @school_monthly_stats[:female_students][month]; monthly_stat.try(:value) || 0 %>
    }
  ]
</script>
