<%- content_for :title do -%>
<%= @school.name %>
<%- end -%>

<%- model_class = @school.class -%>
<div class="page-header">
  <h1>
    <%= @school.name %>
    <%- if can?(:edit, @school) -%>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_school_path(@school), :class => 'btn btn-mini' %>
    <%- end -%>
    <%- if can?(:destroy, @school) -%>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  school_path(@school),
                  :method => 'delete',
                  :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                  :class => 'btn btn-danger btn-mini  ' %>
    <%- end -%>
  </h1>
  <h2>
    <span id="current_year" title="<%= t('schools.show.click_to_change') %>"><%= @year %></span>
    <%= form_tag nil, method: 'GET', class: 'form-inline', id: 'set-year'  do -%>
      <%= select_tag( :year, options_for_select(@years,@year)) %>
      <%= submit_tag(t('see'), class: 'btn') %>
    <%- end -%>
    <%- if can?(:sync, @school) && @school.padma_enabled? && !@school.pending_sync_requests?(@year)  -%>
      <%= link_to(t('.sync_year_data', year: @year).capitalize,
                  sync_year_school_path(id: @school.id, year: @year),
                  rel: 'tooltip', data: {'original-title' => "#{t('schools.index.synced_at')}: #{l(@school.synced_at) if @school.synced_at}"},
                  class: 'btn btn-mini') %>
    <%- end -%>
  </h2>

</div>

<%= render :partial => 'sync_request_notification' %>

<%- if can?(:see_debug_info,@school) -%>
  <dl class="dl-horizontal">
    <dt><strong><%= model_class.human_attribute_name(:federation_id) %>:</strong></dt>
    <dd><%= @school.federation.try :name %></dd>
    <%- if can?(:sync, @school) -%>
      <dt><strong>Nucleo:</strong></dt>
      <dd><%= @school.nucleo_id %> (<%= @school.nucleo_enabled?? 'enabled' : 'disabled' %>)</dd>

      <dt><strong>Padma Account:</strong></dt>
      <dd><%= @school.account_name %> (<%= @school.padma_enabled?? 'enabled' : 'disabled' %>)</dd>
    <%- end -%>
  </dl>
<%- end -%>

<div id="chartContainer" class="chart-container"></div>
<div id="teachersChartContainer" class="chart-container"></div>

<div id="stats">
  <%= render 'monthly_stats/chrono_table', monthly_stats: @school_monthly_stats %>
  <%= link_to(t('.new', :default => t("helpers.links.new")),
              new_school_monthly_stat_path(school_id: @school.id),
              :class => 'btn btn-primary') if can?(:create,@school.monthly_stats.new) %>

  <%- @teachers_monthly_stats.each_pair do |teacher_id, stats| %>
    <%= render "monthly_stats/chrono_table", monthly_stats: stats, hide_year_form: true, title: Teacher.find(teacher_id).try(:full_name) %>
  <% end %>
</div>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              schools_path, :class => 'btn'  %>
</div>

<script>
  chartData = [
    <%- (1..12).each do |month| -%>
      {
        month: "<%= Date::MONTHNAMES[month] %>",
        students: <%= monthly_stat = @school_monthly_stats[:students][month]; monthly_stat.try(:value) || 0 %>,
        dropouts: <%= monthly_stat = @school_monthly_stats[:dropouts][month]; monthly_stat.try(:value) || 0 %>,
        enrollments: <%= monthly_stat = @school_monthly_stats[:enrollments][month]; monthly_stat.try(:value) || 0 %>,
        p_interviews: <%= monthly_stat = @school_monthly_stats[:p_interviews][month]; monthly_stat.try(:value) || 0 %>,
        assistant_students: <%= monthly_stat = @school_monthly_stats[:assistant_students][month]; monthly_stat.try(:value) || 0 %>,
        professor_students: <%= monthly_stat = @school_monthly_stats[:professor_students][month]; monthly_stat.try(:value) || 0 %>,
        master_students: <%= monthly_stat = @school_monthly_stats[:master_students][month]; monthly_stat.try(:value) || 0 %>,
        male_students: <%= monthly_stat = @school_monthly_stats[:male_students][month]; monthly_stat.try(:value) || 0 %>,
        female_students: <%= monthly_stat = @school_monthly_stats[:female_students][month]; monthly_stat.try(:value) || 0 %>
      },
    <%- end -%>
    <%- month = 12 -%>
    {
      month: "<%= Date::MONTHNAMES[month] %>",
      students: <%= monthly_stat = @school_monthly_stats[:students][month]; monthly_stat.try(:value) || 0 %>,
      dropouts: <%= monthly_stat = @school_monthly_stats[:dropouts][month]; monthly_stat.try(:value) || 0 %>,
      enrollments: <%= monthly_stat = @school_monthly_stats[:enrollments][month]; monthly_stat.try(:value) || 0 %>,
      p_interviews: <%= monthly_stat = @school_monthly_stats[:p_interviews][month]; monthly_stat.try(:value) || 0 %>,
      assistant_students: <%= monthly_stat = @school_monthly_stats[:assistant_students][month]; monthly_stat.try(:value) || 0 %>,
      professor_students: <%= monthly_stat = @school_monthly_stats[:professor_students][month]; monthly_stat.try(:value) || 0 %>,
      master_students: <%= monthly_stat = @school_monthly_stats[:master_students][month]; monthly_stat.try(:value) || 0 %>,
      male_students: <%= monthly_stat = @school_monthly_stats[:male_students][month]; monthly_stat.try(:value) || 0  %>,
      female_students: <%= monthly_stat = @school_monthly_stats[:female_students][month]; monthly_stat.try(:value) || 0 %>
    }
  ]
</script>