<%- content_for :title do -%>
  <%= @school.full_name %>
<%- end -%>
<%- breadcrum "#{t(".year_stats")} - #{@school.full_name}" -%>
<%- model_class = @school.class -%>

<div class='schools-container'>
  <header class='schools-head'>
    <p><%= @year %></p>
    <nav class='schools-navbar' role='navigation'>
      <div class='filter-controls'>
        <div class='btn-group'>
          <%= link_to school_url(@school, year: @year.to_i - 1), class: 'btn btn-secondary btn-sm' do %>
            <span class='glyphicon glyphicon-chevron-left'></span>
          <% end %>
          <% unless @year.to_i == Time.zone.now.year %>
            <%= link_to school_url(@school, year: @year.to_i + 1), class: 'btn btn-secondary btn-sm' do %>
              <span class='glyphicon glyphicon-chevron-right'></span>
            <% end %>
          <% end %>
        </div>
        <%= render :partial => 'sync_request_notification' %>
      </div>
      <div class='filter-controls filter-controls-right'>
        <%= link_to "<span class='glyphicon glyphicon-download'></span>".html_safe, school_url(id: @school.id, format: 'csv', year: @year), class: 'btn btn-secondary btn-sm', id: 'download-link' %>
      </div>
    </nav>
  </header>
  <section class='schools-content'>
    <div id="chartContainer" class="chart-container"></div> <!-- chart -->
    <ul class='nav nav-tabs' role='tablist'>
      <li class='active'><a href="#global" class='' data-toggle='tab'><%= @school.full_name %></a></li>
      <%- @teachers_monthly_stats.each_pair do |teacher_id, stats| %>
        <li><a href='#<%= teacher_id %>' data-toggle='tab'><%= Teacher.find(teacher_id).try(:full_name) %></a></li>
      <%- end %>
    </ul>
    <div class='tab-content tab-content-border'>
      <div class='tab-pane active' id="global">
        <%= render 'monthly_stats/chrono_table', monthly_stats: @school_monthly_stats %>
      </div>
      <%- @teachers_monthly_stats.each_pair do |teacher_id, stats| %>
        <div id='<%= teacher_id %>' class='tab-pane'>
          <% unless stats.values.reject(&:empty?).empty? -%>
            <%= render "monthly_stats/chrono_table", monthly_stats: stats, teacher_stats: true, title: Teacher.find(teacher_id).try(:full_name) %>
          <% end -%>
        </div>
      <% end %>
    </div>
  </section>
</div>

<div class="page-header" hidden>
  <%= link_to "<span class='glyphicon glyphicon-download'></span>".html_safe, school_url(id: @school.id, format: 'csv', year: @year), class: 'btn btn-secondary btn-sm', id: 'download-link' %>
  <h2>
    <div>
      <span id="current_year" title="<%= t('schools.show.click_to_change') %>"><%= @year %></span>
      <%= form_tag nil, method: 'GET', class: 'form-inline', id: 'set-year'  do -%>
        <%= select_tag( :year, options_for_select(@years,@year)) %>
        <%= submit_tag(t('see'), class: 'btn') %>
      <%- end -%>
    </div>
  </h2>
  <%= render :partial => 'sync_request_notification' %>
</div>

<script>
  chartData = [
    <%- (1..12).each do |month| -%>
      {
        month: "<%= Date::MONTHNAMES[month] %>",
        students: <%= monthly_stat = @school_monthly_stats[:students][month]; monthly_stat.try(:value) || 0 %>,
        dropouts: <%= monthly_stat = @school_monthly_stats[:dropouts][month]; monthly_stat.try(:value) || 0 %>,
        enrollments: <%= monthly_stat = @school_monthly_stats[:enrollments][month]; monthly_stat.try(:value) || 0 %>,
        p_interviews: <%= monthly_stat = @school_monthly_stats[:p_interviews][month]; monthly_stat.try(:value) || 0 %>,
        assistant_students: <%= monthly_stat = @school_monthly_stats[:assistant_students][month]; monthly_stat.try(:value) || 0 %>,
        professor_students: <%= monthly_stat = @school_monthly_stats[:professor_students][month]; monthly_stat.try(:value) || 0 %>,
        master_students: <%= monthly_stat = @school_monthly_stats[:master_students][month]; monthly_stat.try(:value) || 0 %>,
        male_students: <%= monthly_stat = @school_monthly_stats[:male_students][month]; monthly_stat.try(:value) || 0 %>,
        female_students: <%= monthly_stat = @school_monthly_stats[:female_students][month]; monthly_stat.try(:value) || 0 %>
      },
    <%- end -%>
    <%- month = 12 -%>
    {
      month: "<%= Date::MONTHNAMES[month] %>",
      students: <%= monthly_stat = @school_monthly_stats[:students][month]; monthly_stat.try(:value) || 0 %>,
      dropouts: <%= monthly_stat = @school_monthly_stats[:dropouts][month]; monthly_stat.try(:value) || 0 %>,
      enrollments: <%= monthly_stat = @school_monthly_stats[:enrollments][month]; monthly_stat.try(:value) || 0 %>,
      p_interviews: <%= monthly_stat = @school_monthly_stats[:p_interviews][month]; monthly_stat.try(:value) || 0 %>,
      assistant_students: <%= monthly_stat = @school_monthly_stats[:assistant_students][month]; monthly_stat.try(:value) || 0 %>,
      professor_students: <%= monthly_stat = @school_monthly_stats[:professor_students][month]; monthly_stat.try(:value) || 0 %>,
      master_students: <%= monthly_stat = @school_monthly_stats[:master_students][month]; monthly_stat.try(:value) || 0 %>,
      male_students: <%= monthly_stat = @school_monthly_stats[:male_students][month]; monthly_stat.try(:value) || 0  %>,
      female_students: <%= monthly_stat = @school_monthly_stats[:female_students][month]; monthly_stat.try(:value) || 0 %>
    }
  ]
</script>