<%- content_for :title do -%>
  <%= @school.name %>
<%- end -%>
<%- breadcrum "#{t(".year_stats")} - #{@school.name}" -%>

<%- model_class = @school.class -%>
<div class="page-header">
  <%= link_to "<span class='glyphicon glyphicon-cloud-download'></span> #{t('download')}".html_safe, school_url(id: @school.id, format: 'csv', year: @year), class: 'btn btn-default', id: 'download-link' %>
  <h2>
    <div>
      <span id="current_year" title="<%= t('schools.show.click_to_change') %>"><%= @year %></span>
      <%= form_tag nil, method: 'GET', class: 'form-inline', id: 'set-year'  do -%>
        <%= select_tag( :year, options_for_select(@years,@year)) %>
        <%= submit_tag(t('see'), class: 'btn') %>
      <%- end -%>
    </div>
  </h2>
  <%= render :partial => 'sync_request_notification' %>
</div>

<div id="chartContainer" class="chart-container"></div>

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#global" role="tab" data-toggle="tab">Global</a></li>
  <%- @teachers_monthly_stats.each_pair do |teacher_id, stats| %>
  <li><a href="#<%= teacher_id %>" role="tab" data-toggle="tab"><%= Teacher.find(teacher_id).try(:full_name) %></a></li>
  <%- end %>
</ul>

<div id="stats" class="tab-content">
  <div class="tab-pane active" id="global">
  <%= render 'monthly_stats/chrono_table', monthly_stats: @school_monthly_stats %>
  </div>
  <%- @teachers_monthly_stats.each_pair do |teacher_id, stats| %>
    <div class="tab-pane" id="<%= teacher_id %>">
    <% unless stats.values.reject(&:empty?).empty? -%>
      <%= render "monthly_stats/chrono_table", monthly_stats: stats, teacher_stats: true, title: Teacher.find(teacher_id).try(:full_name) %>
    <% end -%>
    </div>
  <% end %>
</div>

<script>
  chartData = [
    <%- (1..12).each do |month| -%>
      {
        month: "<%= Date::MONTHNAMES[month] %>",
        students: <%= monthly_stat = @school_monthly_stats[:students][month]; monthly_stat.try(:value) || 0 %>,
        dropouts: <%= monthly_stat = @school_monthly_stats[:dropouts][month]; monthly_stat.try(:value) || 0 %>,
        enrollments: <%= monthly_stat = @school_monthly_stats[:enrollments][month]; monthly_stat.try(:value) || 0 %>,
        p_interviews: <%= monthly_stat = @school_monthly_stats[:p_interviews][month]; monthly_stat.try(:value) || 0 %>,
        assistant_students: <%= monthly_stat = @school_monthly_stats[:assistant_students][month]; monthly_stat.try(:value) || 0 %>,
        professor_students: <%= monthly_stat = @school_monthly_stats[:professor_students][month]; monthly_stat.try(:value) || 0 %>,
        master_students: <%= monthly_stat = @school_monthly_stats[:master_students][month]; monthly_stat.try(:value) || 0 %>,
        male_students: <%= monthly_stat = @school_monthly_stats[:male_students][month]; monthly_stat.try(:value) || 0 %>,
        female_students: <%= monthly_stat = @school_monthly_stats[:female_students][month]; monthly_stat.try(:value) || 0 %>
      },
    <%- end -%>
    <%- month = 12 -%>
    {
      month: "<%= Date::MONTHNAMES[month] %>",
      students: <%= monthly_stat = @school_monthly_stats[:students][month]; monthly_stat.try(:value) || 0 %>,
      dropouts: <%= monthly_stat = @school_monthly_stats[:dropouts][month]; monthly_stat.try(:value) || 0 %>,
      enrollments: <%= monthly_stat = @school_monthly_stats[:enrollments][month]; monthly_stat.try(:value) || 0 %>,
      p_interviews: <%= monthly_stat = @school_monthly_stats[:p_interviews][month]; monthly_stat.try(:value) || 0 %>,
      assistant_students: <%= monthly_stat = @school_monthly_stats[:assistant_students][month]; monthly_stat.try(:value) || 0 %>,
      professor_students: <%= monthly_stat = @school_monthly_stats[:professor_students][month]; monthly_stat.try(:value) || 0 %>,
      master_students: <%= monthly_stat = @school_monthly_stats[:master_students][month]; monthly_stat.try(:value) || 0 %>,
      male_students: <%= monthly_stat = @school_monthly_stats[:male_students][month]; monthly_stat.try(:value) || 0  %>,
      female_students: <%= monthly_stat = @school_monthly_stats[:female_students][month]; monthly_stat.try(:value) || 0 %>
    }
  ]
</script>

