<%- content_for :title do -%>
  <%= @school.full_name %>
<%- end -%>
<%- breadcrum "#{t(".year_stats")} - #{@school.full_name}" -%>
<%- model_class = @school.class -%>

<div class='schools-container'>
  <header class='schools-head'>
    <p><%= @year %></p>
    <nav class='schools-navbar' role='navigation'>
      <div class='filter-controls'>
        <div class='btn-group'>
          <%= link_to school_url(@school, params.merge(year: @year.to_i - 1, format: nil)), class: 'btn btn-secondary btn-sm' do %>
            <span class='glyphicon glyphicon-chevron-left'></span>
          <% end %>
          <% unless @year.to_i == Time.zone.now.year %>
            <%= link_to school_url(@school, params.merge(year: @year.to_i + 1, format: nil)), class: 'btn btn-secondary btn-sm' do %>
              <span class='glyphicon glyphicon-chevron-right'></span>
            <% end %>
          <% end %>

        </div>
      </div>
      
      <div class='filter-controls filter-controls-right'>
        <%= link_to "<span class='glyphicon glyphicon-download'></span>".html_safe, school_url(id: @school.id, format: 'csv', year: @year), class: 'btn btn-secondary btn-sm', id: 'download-link' %>
      </div>
    </nav>
    <nav>
        <%= form_for @ranking_for_column_names, url: school_path(id: @school.id), method: :get, :html => { class: 'form-inline' } do |f| %>
          <div class="btn-group">
            <%= f.select   :column_names,
                           MonthlyStat::VALID_NAMES.flatten.map{|name| [t("monthly_stat.names.#{name}"), name]},
                           {},
                           {
                              data: {
                                'none-selected-text' => t('.choose_stats')}, 
                              multiple: :multiple,
                              class: 'choose-columns-select'
                            }
            %>
            
          </div>
          <button type="submit"
                  class="btn btn-secondary btn-sm"
                  data-disable-with="..."><%= t('see') %></button>
        <% end -%>
    </nav>
  </header>
  <section class='schools-content'>
    <div id="newChartContainer" class="chart-container"></div> <!-- chart -->
    <ul class='nav nav-tabs' role='tablist'>
      <li class='active'><a href="#global" class='' data-toggle='tab'><%= @school.full_name %></a></li>
      <%- @teachers.each do |teacher| %>
        <li><%= link_to teacher.try(:full_name), school_teacher_path(@school,teacher.id) %></li>
      <%- end %>
    </ul>
    <div class='tab-content tab-content-border'>
      <div class='tab-pane active' id="global">
        <%= render 'monthly_stats/chrono_table', monthly_stats: @school_monthly_stats %>
        <%= render "manual_ics", monthly_stats: @school_monthly_stats %>
      </div>
    </div>
        <%= render :partial => 'sync_request_notification' %>
  </section>
</div>

<div class="page-header" hidden>
  <%= link_to "<span class='glyphicon glyphicon-download'></span>".html_safe, school_url(id: @school.id, format: 'csv', year: @year), class: 'btn btn-secondary btn-sm', id: 'download-link' %>
  <h2>
    <div>
      <span id="current_year" title="<%= t('schools.show.click_to_change') %>"><%= @year %></span>
      <%= form_tag nil, method: 'GET', class: 'form-inline', id: 'set-year'  do -%>
        <%= select_tag( :year, options_for_select(@years,@year)) %>
        <%= submit_tag(t('see'), class: 'btn') %>
      <%- end -%>
    </div>
  </h2>
  <%= render :partial => 'sync_request_notification' %>
</div>

<%= content_for :body_end do %>
  <% 
  @graph_stat_names = @stat_names.select do |sn|
    !sn.in?(MonthlyStat::MANUAL_STATS.map(&:to_sym)) && sn != :students_average_age
  end
  %>
<script>
    var chartData = <%= (1..12).map do |month|
      r = { month: Date::MONTHNAMES[month] }
      @rendering_pers = false
      @graph_stat_names.each do |name|
        val = (@school_monthly_stats[name.to_sym][month].try(:value) || 0)
        if MonthlyStat.is_a_rate?(name)
          @rendering_pers = true
          val = val.to_f/100
        end
        r.merge!({ name => val })
      end
      r
    end.to_json.html_safe -%>;

    chart = new AmCharts.AmSerialChart();
    chart.dataProvider = chartData;
    chart.categoryField = "month";

    chart.color = "#AAAAAA";
    chart.startDuration = 2;
    chart.autoMargins = false;
    chart.marginTop = 30;
    chart.marginBottom = 30;
    chart.marginLeft = 80;
    chart.marginRight = 80;

    valAxis = new AmCharts.ValueAxis();
    valAxis.position = "left";
    valAxis.axisColor = "#2d66bb";
    valAxis.gridAlpha = 0;
    valAxis.fillColor = "#2d66bb";
    valAxis.fillAlpha = 0.1;
    valAxis.dashLength = 3;
    chart.addValueAxis(valAxis);

    <% if @rendering_pers %>
      perAxis = new AmCharts.ValueAxis();
      perAxis.minimum = 0;
      perAxis.maximum = 100;
      perAxis.position = "right";
      perAxis.gridAlpha = 0;
      perAxis.dashLength = 3;
      chart.addValueAxis(perAxis);
    <% end %>

    <% @graph_stat_names.each do |stat_name| %>
      <%= stat_name %>_graph = new AmCharts.AmGraph();
      <%= stat_name %>_graph.valueField = "<%= stat_name %>";
      <%= stat_name %>_graph.title = $("#stats-names").data("<%= stat_name %>");
      <%= stat_name %>_graph.type = "line";
      <%= stat_name %>_graph.lineThickness = <%= MonthlyStat.is_a_rate?(stat_name)? '1' : '2' %>;
      <%= stat_name %>_graph.bullet = "<%= MonthlyStat.is_a_rate?(stat_name)? 'none' : 'round' %>";
      <%= stat_name %>_graph.dashLength = <%= MonthlyStat.is_a_rate?(stat_name)? '3' : '1' %>;
      <%= stat_name %>_graph.valueAxis = <%= MonthlyStat.is_a_rate?(stat_name)? "perAxis" : "valAxis" %>;
      <%= case stat_name
          when :students
            "students_graph.lineColor = 'black';"
          when :male_students
            "male_students_graph.lineColor = 'blue';"
          when :female_students
            "female_students_graph.lineColor = 'pink';"
          when :enrollments
            "enrollments_graph.lineColor = 'green';"
          when :enrollment_rate
            "enrollment_rate_graph.lineColor = '#3fff3f';"
          when :dropouts
            "dropouts_graph.lineColor = 'red';"
          when :dropout_rate
            "dropout_rate_graph.lineColor = '#ff3f3f';"
          else
            ""
          end.html_safe
      %>
      chart.addGraph(<%= stat_name %>_graph);
    <% end %>
    
    chartCursor = new AmCharts.ChartCursor();
    chart.addChartCursor( chartCursor );

    legend = new AmCharts.AmLegend();
    legend.align = "center";
    legend.markerType = "circle";
    chart.addLegend(legend);

    chart.write('newChartContainer');
</script>
<% end %>
