<% title = "ICs Conselho e Colegiado : #{ l @ref_date, format: :month} " %>
<%- content_for :title do -%>
  <%= title %>
<% end %>
<%= content_for :breadcrum do %>
  <%= title %>
<% end %>

<h1>
  <%= title %>
</h1>

<div class='schools-container'>
  <header class='schools-head'>
    <p><%= @year %></p>
    <nav class='schools-navbar' role='navigation'>
      <div class='filter-controls'>
        <div class='btn-group'>
          <%= link_to school_ics_path(school_id: @ics.school.id,
                                      ref_date: @ref_date - 1.month),
                      class: 'btn btn-secondary btn-sm' do %>
            <span class='glyphicon glyphicon-chevron-left'></span>
          <% end %>
          <% unless @ref_date == Time.zone.today %>
            <%= link_to school_ics_path(school_id: @ics.school.id,
                                        ref_date: @ref_date + 1.month),
                        class: 'btn btn-secondary btn-sm' do %>
              <span class='glyphicon glyphicon-chevron-right'></span>
            <% end %>
          <% end %>
        </div>
      </div>
  </header>
  <section class="schools-content">
    <%= form_for :ics,
                 url: school_ics_path(school_id: @ics.school.id, ref_date: @ref_date),
                 method: :put,
                 html: {
                   class: "form-inline"
                 } do |f| %>
                  
      <ul>
        <% Ics::ICS.each do |ic| %>
          <li>
            <%= t("monthly_stat.names.#{ic}") %> :
            <% if @ics.manual_input? %>
              <%= f.text_field ic %>
            <% else %>
              <%= @ics.monthly_stats(ic).try(:value) %>
            <% end %>
          </li>
        <% end %>
        <% if @ics.manual_input? %>
          <li>
            <%= f.submit t('.update_ics'), class: 'btn btn-primary' %>
          </li>
        <% end %>
      </ul>

    <% end %>

    <%- if !@ics.manual_input? && can_sync_month?(@ref_date.month)  -%>
      <%= link_to(t('.recalculate_these_values'),
                  school_sync_requests_path(school_id: @school.id,
                                            sync_request: {
                                              priority: 15,
                                              year: @ref_date.year,
                                              month: @ref_date.month}),
                  method: 'POST',
                  rel: 'tooltip',
                  data: {'original-title' => t('monthly_stats.chrono_table.sync_month')},
                  :class => 'btn btn-secondary') %>
    <% end -%>
  </section>
</div>
