<% title = "Itens de controle" %>
<% subtitle = "para acompanhamento do Colegiado de Presidentes de Federação e Conselho Administrativo" %>
<%- content_for :title do -%>
  <%= title %> <%= subtitle %>
<% end %>
<%= content_for :breadcrum do %>
  <%= title %> <%= subtitle %>
<% end %>

<div class='ics-container schools-container'>
  <header class='schools-head'>
    <h1>
      <%= "#{title}" %>
    </h1>

    <h2 id="ics_subtitle">
      <%= "#{subtitle}" %>
    </h2>

    <h2>
      <%= "#{@school.full_name} #{ l @ref_date, format: :month} " %>
    </h2>


    <nav class='schools-navbar' role='navigation'>
      <div class='filter-controls'>
        <div class='btn-group'>
          <%= link_to school_ics_path(school_id: @ics.school.id,
                                      ref_date: @ref_date - 1.month,
                                      ics_options: @ics.options
                                     ),
                      class: 'btn btn-secondary btn-sm' do %>
            <span class='glyphicon glyphicon-chevron-left'></span> 
            <%= t('.previous_month') %>
          <% end %>
          <% unless @ref_date.end_of_month >= (1.month.ago.to_date).end_of_month %>
            <%= link_to school_ics_path(school_id: @ics.school.id,
                                        ref_date: @ref_date + 1.month,
                                        ics_options: @ics.options
                                       ),
                        class: 'btn btn-secondary btn-sm' do %>
              <%= t('.next_month') %>
              <span class='glyphicon glyphicon-chevron-right'></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </nav>
  </header>

  <% unless notice.blank? %>
    <div id="ics_notice">
      <%= notice %>
    </div>
  <% end %>

  <section class="schools-content">
    <%= form_for :ics,
                 url: school_ics_path(school_id: @ics.school.id, ref_date: @ref_date),
                 method: :put,
                 html: {
                   data: {
                     controller: "ics"
                   }
                 } do |f| %>
                  
      <ul>

        <!-- MANUAL for ALL -->
        <li>
          <label><%= t("monthly_stat.names.gross_income") %> :</label>
          <div class="select-inline">
            <div class="select">
              <%= f.select "gross_income_unit",  currency_options,
                           {selected: @ics.gross_income_unit || @currency},
                           {
                             data: {
                               target: "ics.currency",
                               action: "change->ics#updateAllCurrencies"
                             }
                           }
                         %>
            </div>
            <div class="select">
            <%= f.text_field "gross_income",
                             type: "tel",
                             class: "form-control #{'ic_missing' if !notice.blank? && @ics.monthly_stats("gross_income").blank?}",
                             data: {
                               target: "ics.gross_income",
                               action: "change->ics#updateProfit keyup->ics#updateProfit"
                             }
            %>
            </div>
          </div>
        </li>
        <li>
          <label><%= t("monthly_stat.names.expenses") %> :</label>
          <div class="select-inline">
            <div class="select">
              <%= f.select "expenses_unit", currency_options,
                           {selected: @ics.expenses_unit || @currency},
                           {
                             data: {
                               target: "ics.currency",
                               action: "change->ics#updateAllCurrencies"
                             }
                           }
              %>
            </div>
            <div class="select">
          <%= f.text_field "expenses", class: "#{'ic_missing' if !notice.blank? && @ics.monthly_stats("expenses").blank?}",
                           type: "tel",
                               data: {
                                 target: "ics.expenses",
                                 action: "change->ics#updateProfit keyup->ics#updateProfit"
                               }
        %>
            </div>
          </div>
        </li>
        <li>
          <label><%= t("monthly_stat.names.profit") %> :</label>
          <div class="select-inline">
            <div class="select">
              <%= f.select "profit_unit",  currency_options,
                           {selected: @ics.profit_unit || @currency},
                           {
                             data: {
                               target: "ics.currency",
                               action: "change->ics#updateAllCurrencies"
                             }
                           }
              %>
            </div>
            <div class="select">
              <%= f.text_field "profit", class: "#{'ic_missing' if !notice.blank? && @ics.monthly_stats("profit").blank?}",
                               type: "tel",
                                   data: {
                                     target: "ics.profit",
                                     action: "change->ics#validateProfit"
                                   } %>
            </div>
          </div>
          <span data-target="ics.profitError"></span>
        </li>

        <li>
          <label><%= t("monthly_stat.names.team_teachers") %> :</label>
          <%= f.text_field "team_teachers", type: "tel", class: "#{'ic_missing' if !notice.blank? && @ics.monthly_stats("expenses").blank?}" %>
        </li>

        <% unless @ics.manual_input? %>
        <li>
          <%= f.submit t('.update_ics'), class: 'btn btn-primary full-width' %>
        </li>
        <li>
              <%= t('.automatic_for_padma_users') %>
        </li>
        <% end %>

        <!-- MANUAL for non-padma -->
        <% Ics::ICS.reject{|ic_name| MonthlyStat.is_manual?(ic_name) }.each do |ic| %>
          <li>
            <label><%= t("monthly_stat.names.#{ic}") %> :</label>
            <% if @ics.manual_input? %>
              <%= f.text_field ic, type: "tel", class: "#{'ic_missing' if !notice.blank? && @ics.monthly_stats(ic).blank?}" %>
            <% else %>
              <%= print_value @ics.monthly_stats(ic) %>
            <% end %>
          </li>
        <% end %>
        
        <% if @ics.manual_input? %>
        <li>
          <%= f.submit t('.update_ics'), class: 'btn btn-primary full-width' %>
        </li>
        <% end %>
      </ul>

    <% end %>

    <%- if !@ics.manual_input? && can_sync_month?(@ref_date.month)  -%>
      <%= link_to(t('.recalculate_these_values'),
                  school_sync_requests_path(school_id: @school.id,
                                            sync_request: {
                                              priority: 15,
                                              year: @ref_date.year,
                                              month: @ref_date.month}),
                  method: 'POST',
                  rel: 'tooltip',
                  data: {'original-title' => t('monthly_stats.chrono_table.sync_month')},
                  :class => 'btn btn-secondary') %>
    <% end -%>
    <%# link_to(t('.see_all_ics'), school_path(@school.id), :class => 'btn btn-link full-width') %>
  </section>
</div>
