<% title = "ICs Conselho e Colegiado" %>
<%- content_for :title do -%>
  <%= title %>
<% end %>
<%= content_for :breadcrum do %>
  <%= title %>
<% end %>

<div class='ics-container schools-container'>
  <header class='schools-head'>
    <h1>
      <%= "#{title}" %>
    </h1>
    <h2>
      <%= "#{@school.full_name} #{ l @ref_date, format: :month} " %>
    </h2>
    <nav class='schools-navbar' role='navigation'>
      <div class='filter-controls'>
        <div class='btn-group'>
          <%= link_to school_ics_path(school_id: @ics.school.id,
                                      ref_date: @ref_date - 1.month,
                                      ics_options: @ics.options
                                     ),
                      class: 'btn btn-secondary btn-sm' do %>
            <span class='glyphicon glyphicon-chevron-left'></span> 
            <%= t('.previous_month') %>
          <% end %>
          <% unless @ref_date.end_of_month >= Time.zone.today.end_of_month %>
            <%= link_to school_ics_path(school_id: @ics.school.id,
                                        ref_date: @ref_date + 1.month,
                                        ics_options: @ics.options
                                       ),
                        class: 'btn btn-secondary btn-sm' do %>
              <%= t('.next_month') %>
              <span class='glyphicon glyphicon-chevron-right'></span>
            <% end %>
          <% end %>
        </div>
      </div>
  </header>

  <% unless @ics.manual_input? %>
    <div id="ics_info">
      <%= t('.automatic_for_padma_users') %>
    </div>
  <% end %>

  <% unless notice.blank? %>
    <div id="ics_notice">
      <%= notice %>
    </div>
  <% end %>

  <section class="schools-content">
    <%= form_for :ics,
                 url: school_ics_path(school_id: @ics.school.id, ref_date: @ref_date),
                 method: :put,
                 html: {
                   class: "form-inline"
                 } do |f| %>
                  
      <ul>
        <% Ics::ICS.each do |ic| %>
          <li>
            <label><%= t("monthly_stat.names.#{ic}") %> :</label>
            <% if @ics.manual_input? %>
              <%= f.text_field ic, class: "#{'ic_missing' if !notice.blank? && @ics.monthly_stats(ic).blank?}" %>
            <% else %>
              <%= print_value @ics.monthly_stats(ic) %>
            <% end %>
          </li>
        <% end %>
        <% if @ics.manual_input? %>
          <li>
            <%= f.submit t('.update_ics'), class: 'btn btn-primary full-width' %>
          </li>
        <% end %>
      </ul>

    <% end %>

    <%- if !@ics.manual_input? && can_sync_month?(@ref_date.month)  -%>
      <%= link_to(t('.recalculate_these_values'),
                  school_sync_requests_path(school_id: @school.id,
                                            sync_request: {
                                              priority: 15,
                                              year: @ref_date.year,
                                              month: @ref_date.month}),
                  method: 'POST',
                  rel: 'tooltip',
                  data: {'original-title' => t('monthly_stats.chrono_table.sync_month')},
                  :class => 'btn btn-secondary') %>
    <% end -%>
    <%= link_to(t('.see_all_ics'),
                school_path(@school.id),
                :class => 'btn btn-link full-width') %>
  </section>
</div>
