<%- breadcrum t("teacher_ranking.title") -%>

<div class='stats-teacher-container'>
  <nav class='statsteacher-navbar' role='navigation'>
    <div class='filter-controls'>
      <% url = @school.present? ? school_teacher_ranking_path(@school) : teacher_ranking_path %>
      <%= form_for @teacher_ranking, url: url, method: :put, :html => { class: 'form-inline' } do |f| %>
        <div class='form-group'>
          <div class='label-block'><%= t('teacher_ranking.date') %></div>
          <%= f.date_select :ref_date, {discard_day: true}, { class: 'form-control' } %>
        </div>
        <div class='form-group form-group-flex'>
          <div class='label-block'><%= t('teacher_ranking.date_range') %></div>
          <%= f.date_select :ref_since, {discard_day: true}, { class: 'form-control' } %>
          <span class='label-to'>a</span>
          <%= f.date_select :ref_until, {discard_day: true}, { class: 'form-control' } %>
        </div>
        <div class="btn-group">
          <%= f.select   :column_names,
                         TeacherRanking::COLUMNS_FOR_VIEW.flatten.map{|name| [t("monthly_stat.names.#{name}"), name]},
                         {},
                         {
                            data: {
                              'none-selected-text' => t('ranking.choose_columns')}, 
                            multiple: :multiple,
                            class: 'choose-columns-select'
                          }
          %>
          
        </div>
        <button type="submit" class="btn btn-secondary btn-sm"><%= t('submit') %></button>
      <% end -%>
    </div>
  </nav>
  <section class='statsteacher-content'>
    <div class='table-responsive'>
      <table id="statsteacher-table" class="table table-striped table-condensed tablesorter-blue">
        <thead>
          <tr>
            <th></th>
            <th colspan="<%= @teacher_ranking.column_names.size %>" class='text-center'>
              <%= t("teacher_ranking.monthly_stats_for", :month => l(@teacher_ranking.ref_date, :format => "%B"))  %>
            </th>
            <th colspan="<%= @teacher_ranking.column_names.size %>" class='text-center'>
              <%= t("teacher_ranking.average_stats_for", :start_month => l(@teacher_ranking.ref_since, :format => "%B"), :end_month => l(@teacher_ranking.ref_until, :format => "%B")) %>
            </th>
          </tr>
          <tr>
            <th><%= t('ranking.name') %></th>
            <% @teacher_ranking.column_names.each do |name| %>
              <th><%= t("monthly_stat.names.#{name}") %></th>
            <% end %>
            <% @teacher_ranking.column_names.each do |name| %>
              <th><%= t("monthly_stat.names.#{name}") %></th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% monthly_stats =  @teacher_ranking.monthly_stats %>
          <% @teacher_ranking.matrix.each do |teacher, stats_hash| %>
            <% if teacher %>
            <tr>
              <th>
                <div class='icon-user-default'></div>
                <%= teacher.try(:full_name) %>
              </th>
              <% teacher_monthly_stats = monthly_stats[teacher] %>
              <% @teacher_ranking.column_names.each do |name| %>
                <% monthly_stat = teacher_monthly_stats.detect {|ms| ms.name == name.to_s} unless teacher_monthly_stats.blank? %>
                <td>
                    <span><%= print_value monthly_stat %></span>
                  </td>
              <% end %>
              <% @teacher_ranking.column_names.each do |name| %>
                <% if stats_hash[name.to_s].nil? -%>
                  <td></td>
                <% else -%>
                  <td>
                    <span data-toggle="tooltip" data-placement="top" title="<%= t('ranking.sample_size', size: stats_hash[name.to_s].size) %>">
                      <%= print_value stats_hash[name.to_s] %>
                    </span>
                  </td>
                <% end -%>
              <% end %>
            </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </section>
</div>

<div id="options-panel" class="panel panel-default" hidden>
  <div class="panel-heading" data-toggle="collapse" data-target="#options-panel .panel-body">
    <%= t('teacher_ranking.options') %>
    <span class="glyphicon glyphicon-collapse-down pull-right"></span>
  </div>
  <div class="panel-body collapse">
    <% url = @school.present? ? school_teacher_ranking_path(@school) : teacher_ranking_path %>
    <%= form_for @teacher_ranking, url: url, method: :put, class: "form-horizontal" do |f| %>
      <h4><%= t('teacher_ranking.date') %></h4>
      <div class="form-group form-inline">
        <%= f.date_select :ref_date, {discard_day: true}, { class: 'form-control' } %>
      </div>
      <h4><%= t('teacher_ranking.date_range') %></h4>
      <div class="form-group form-inline">
        <%= f.date_select :ref_since, {discard_day: true}, { class: 'form-control' } %>
        <%= f.date_select :ref_until, {discard_day: true}, { class: 'form-control' } %>
      </div>


      <% if @federations.present? && @federations.size > 1 %>
        <h4><%= t('ranking.federations') %></h4>
        <div class="btn-group form-group" data-toggle="buttons">
          <% @federations.each do |fed| -%>
            <label class="checkbox-inline col-sm-offset-1 btn btn-default btn-sm">
              <%= f.check_box 'federation_ids', {multiple: true, checked: federation_selected?(fed.id,@teacher_ranking)}, fed.id, false %> <%= fed.name %>
            </label>
          <% end -%>
        </div>
      <% end %>

      <% if @schools.present? && @schools.size > 1 %>
        <h4><%= t('teacher_ranking.schools') %></h4>
        <div class="btn-group form-group" data-toggle="buttons">
          <% @schools.each do |school| -%>
            <label class="checkbox-inline col-sm-offset-1 btn btn-default btn-sm">
            <%= f.check_box 'school_ids', {multiple: true, checked: school_selected?(school.id,@teacher_ranking)}, school.id, false %> <%= school.name %>
          </label>
          <% end -%>
        </div>
      <% end %>

      <h4><%= t('ranking.columns')%></h4>
      <% TeacherRanking::COLUMNS_FOR_VIEW.each do |row_of_names| -%>
        <div class="btn-group input-group" data-toggle="buttons">
          <% row_of_names.each do |name|-%>
            <label class="btn btn-default btn-sm">
              <%= f.check_box :column_names, {multiple: true, checked: column_name_selected?(name,@teacher_ranking)}, name, false %> <%= t("monthly_stat.names.#{name}") %>
            </label>
          <% end -%>
        </div>
      <% end -%>
        <div class="form-group">
          <button type="submit" class="btn btn-primary col-sm-offset-0"><%= t('submit') %></button>
        </div>
    <% end -%>
  </div>
</div>