<%- model_class = MonthlyStat.new.class -%>
<% 
begin
  teacher_stats
rescue NameError
  teacher_stats = false
end
-%>

<% title ||= t('.title', :default => model_class.model_name.human.pluralize)%>
<h2><%= title %></h2>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th></th>
      <th colspan="12">
        <%= @year %>
      </th>
    </tr>
    <tr>
      <th></th>
      <%- (1...13).each do |m| -%>
        <th class="toggle-views">
          <%= Date::MONTHNAMES[m] %>
          <%- if can_sync_month?(m)  -%>
            <%= link_to('r',
                        school_sync_requests_path(school_id: @school.id,
                                                  sync_request: {
                                                    priority: 10,
                                                    year: @year,
                                                    month: m}),
                        method: 'POST',
                        rel: 'tooltip',
                        data: {'original-title' => "calculate"},
                        :class => 'pictos red show-on-hover') %>
          <% end -%>
        </th>
      <%- end -%>
    </tr>
  </thead>
  <tbody>
  <% tabindex=0 %>
  <%- MonthlyStat::VALID_NAMES.reject{|n|n==:conversion_rate}.each do |name| -%>
    <% next if teacher_stats && monthly_stats[name].empty? -%>
    <tr>
      <th>
        <%= t("monthly_stat.names.#{name}") %>
        <% if monthly_stat_description(name) -%>
          <span style="position:relative; float: right; cursor: help"
             class="pictos"
             rel="popover"
             data-title=""
             data-placement="left"
             data-content="<%= monthly_stat_description(name) %>">?</span>
        <% end -%>
      </th>
      <%- (1...13).each do |month| -%>
        <% ref_date = Date.civil(@year.to_i,month,1) -%>
        <% tabindex = tabindex + 1 %>
        <td class="toggle-views">
          <% monthly_stat = monthly_stats[name][month] -%>
          <% if @school.nil? -%>
            <%= print_value(monthly_stat) %>
          <% else -%>
            <% if monthly_stat.nil? %>
              <% if in_place_create?(ref_date: ref_date, stat_name: name, teacher_stats: teacher_stats) -%>
                <%= best_in_place monthly_stat,
                                :value,
                                :nil => "e",
                                :classes => "pictos editable",
                                :object_name => "monthly_stat",
                                :type => :input,
                                :path => "/schools/#{@school.id}/monthly_stats",
                                :post => 'true',
                                :data => {name: name,
                                          toggle: "tooltip",
                                          "original-title" => t('edit'),
                                          placement: "top",
                                          refdate: "#{ref_date}",
                                          service: ""
                                },
                                :tabindex => tabindex %>
              <% elsif can_sync_create?(ref_date: ref_date, stat_name: name, teacher_stats: teacher_stats) -%>
                <%= link_to('r',
                            sync_create_school_monthly_stats_path(name: name, school_id: @school.id, ref_date: ref_date),
                            rel: 'tooltip',
                            data: {'original-title' => "calculate"},
                            :class => 'pictos red') %>
              <% end -%>
          <% else %>
            <% if in_place_edit?(monthly_stat: monthly_stat, ref_date: ref_date, teacher_stats: teacher_stats) -%>
              <%= best_in_place monthly_stat,
                                :value,
                                :type => :input,
                                :object_name => "monthly_stat",
                                :path => "/schools/#{@school.id}/monthly_stats/#{monthly_stat.id}",
                                :data => {
                                            toggle: "tooltip",
                                            "original-title" => t('edit'),
                                            placement: "top"
                                  },
                                :tabindex => tabindex
              %>
            <% else -%>
              <%= print_value monthly_stat %>
            <% end -%>
          <% end %>
          <%- unless monthly_stat.nil? || monthly_stat.is_a?(ReducedStat) || @school.nil? -%>
            <span class="show-on-hover">
              <% if in_place_edit?(monthly_stat: monthly_stat, ref_date: ref_date, teacher_stats: teacher_stats) %>
                <a href="#" rel="tooltip" data-original-title="<%= t('edit')%>" class="pictos editable">e</a>
              <% end %>
              <%= link_to('d',
                          school_monthly_stat_path(id: monthly_stat, school_id: @school.id),
                          rel: 'tooltip', 
                          data: {
                            'original-title' => t('delete'), 
                            'toggle' => 'tooltip',
                            :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))
                            },
                          :method => :delete,
                          :remote => true,
                          :id => "monthly-stat-#{monthly_stat.id}",
                          :class => 'pictos red deletable') %>
              <%- if can_sync_update?(monthly_stat) -%>
                <%= link_to('r',
                            sync_school_monthly_stat_path(id: monthly_stat, school_id: @school.id, year: @year),
                            rel: 'tooltip',
                            data: {'original-title' => "sync from #{monthly_stat.service}"},
                            :class => 'pictos red') %>
              <%- end -%>
            </span>
          <%- end -%>
        <% end -%>
        </td>
      <%- end -%>
    </tr>
  <%- end -%>
  <% unless monthly_stats[:swasthya_students_subtotal] == {} %>
    <tr>
      <th>
        <%= t('monthly_stat.names.swasthya_students_subtotal') %>
      </th>
      <%- (1..12).each do |month| -%>
        <td>
          <%= monthly_stats[:swasthya_students_subtotal][month].try(:value) %>
        </td>
      <%- end -%>
    </tr>
  <%- end -%>

  <% unless monthly_stats[:conversion_rate] == {} %>
    <tr>
      <th>
        <%= t('monthly_stat.names.conversion_rate') %>
        <%- if !monthly_stats[:conversion_rate].select{|_,stat|stat.is_a?(ReducedStat)}.empty?  -%>
          <a style="position:relative; float: right;"
             rel="popover"
             href="#"
             class="pictos"
             data-title="<%= t('monthly_stats.chrono_table.conversion_calculation') %>"
             data-content="<%= t('monthly_stats.chrono_table.conversion_explanation') %>">?</a>
        <%- end -%>
      </th>
      <%- (1...13).each do |month| -%>
        <td>
          <% monthly_stat = monthly_stats[:conversion_rate][month]
             v = monthly_stat.try :value -%>
          <%- if v -%>
            <%= number_with_precision(v,precision:0) %> %
          <%- end -%>
        </td>
      <%- end -%>
    </tr>
  <%-	end %>

  </tbody>
</table>
