<%- model_class = MonthlyStat.new.class -%>
<h2><%=t '.title', :default => model_class.model_name.human.pluralize %></h2>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th></th>
      <th colspan="12">
        <%= form_tag nil, method: 'GET', class: 'form-inline'  do -%>
          <%= select_tag( :year, options_for_select(@years,@year)) %>
          <%= submit_tag(t('see'), class: 'btn') %>
        <%- end -%>
      </th>
    </tr>
    <tr>
      <th></th>
      <%- (1...13).each do |m| -%>
        <th>
          <%= Date::MONTHNAMES[m] %>
        </th>
      <%- end -%>
    </tr>
  </thead>
  <tbody>
  <%- MonthlyStat::VALID_NAMES.each do |name| -%>
    <tr>
      <th><%= name %></th>
      <%- (1...13).each do |month| -%>
        <td>
          <%= monthly_stat = @monthly_stats[name][month]
              monthly_stat.try :value %>
          <%- unless monthly_stat.nil? || monthly_stat.is_a?(ReducedStat) || @school.nil? -%>
            <%= link_to('e',
                        edit_school_monthly_stat_path(school_id: @school.id, id: monthly_stat.id),
                        rel: 'tooltip', data: {'original-title' => t('edit')},
                        :class => 'pictos') if can?(:edit,monthly_stat) %>
            <%= link_to('d',
                        school_monthly_stat_path(id: monthly_stat, school_id: @school.id),
                        rel: 'tooltip', data: {'original-title' => t('delete')},
                        :method => :delete,
                        :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                        :class => 'pictos red') if can?(:destroy,monthly_stat) %>
            <%- unless monthly_stat.service.blank? -%>
              <%= link_to('r',
                          sync_school_monthly_stat_path(id: monthly_stat, school_id: @school.id, year: @year),
                          rel: 'tooltip',
                          data: {'original-title' => "sync from #{monthly_stat.service}"},
                          :class => 'pictos red') if can?(:sync,@school) %>
            <%- end -%>
          <%- end -%>
        </td>
    <%- end -%>
    </tr>
  <%- end -%>
  <tr>
    <th>
      % Evasion
      <%- if !@monthly_stats[:dropouts].select{|month,stat|stat.is_a?(ReducedStat)}.empty? || !@monthly_stats[:students].select{|month,stat|stat.is_a?(ReducedStat)}.empty?  -%>
        <a style="position:relative; float: right;" rel="popover" href="#" class="pictos" data-title="Cálculo de la evasion" data-content="Esta evasión es calculada a partir de valores absolutos. Dividiendo el TOTAL de bajas por el TOTAL de alumnos. No es el promedio de las evasiones">?</a>
      <%- end -%>
    </th>
      <td>-</td>
      <%- (2...13).each do |month| -%>
        <td>
          <%-
              dropouts = @monthly_stats[:dropouts][month].try(:value)||0
              students = @monthly_stats[:students][month-1].try(:value)
          -%>
          <%- if students -%>
            <%= number_with_precision (dropouts.to_f/students)*100, precision: 0 %>%
          <%- end -%>
        </td>
      <%- end -%>
  </tr>
  <tr>
    <th>
      % Efectividad
      <%- if !@monthly_stats[:enrollments].select{|month,stat|stat.is_a?(ReducedStat)}.empty? || !@monthly_stats[:interviews].select{|month,stat|stat.is_a?(ReducedStat)}.empty?  -%>
        <a style="position:relative; float: right;" rel="popover" href="#" class="pictos" data-title="Cálculo de la efectividad" data-content="Esta efectividad es calculada a partir de valores absolutos. Dividiendo el TOTAL de inscripciones por el TOTAL de visitas. No es el promedio de las efectividades">?</a>
      <%- end -%>
    </th>
    <%- (1...13).each do |month| -%>
      <td>
        <%-
            enrollments = @monthly_stats[:enrollments][month].try(:value)||0
            interviews = @monthly_stats[:interviews][month].try(:value)
        -%>
        <%- if interviews -%>
          <%= number_with_precision (enrollments.to_f/interviews)*100, precision: 0 %>%
        <%- end -%>
      </td>
    <%- end -%>
  </tr>
  </tbody>
</table>
