<div id="wrapper">
  <div id="main">
    <div id="content">
      <div class="snapshort-holder">
        <div class="heading">
          <h1><%= t("monthly_snapshot.marketing.monthly_snapshot") %></h1>
          <div class="date-area">
            <div class="refresh"> <a href="#" class="arrow">arrow</a> </div>
            <div class="date"> <%= link_to "", set_prev_month_url, class:'previ' %> 
              <span class="year"><%= set_current_month_and_year %></span> 
              <%= link_to "", set_next_month_url, class:'next' %>
            </div>
          </div>
        </div>
        <div class="four-column">
          <div class="column">
            <div class="img-holder"> <a href="#" > <%= image_tag("reports/icon1.png", height: '84', width: '86')%></a> </div>
            <div class="text-area"> 
              <span class="num">
                <%= @emails %>
              </span> 
              <span class="text">
                <%= t("monthly_snapshot.marketing.emails_contacts") %>
              </span>
            </div>
          </div>
          <div class="column">
            <div class="img-holder"> <a href="#" ><%= image_tag("reports/icon2.png", height: '84', width: '86')%></a> </div>
            <div class="text-area"> 
              <span class="num">
                <%= @calls %>
              </span>
              <span class="text">
                <%= t("monthly_snapshot.marketing.calls_received") %>
              </span>
            </div>
          </div>
          <div class="column">
            <div class="img-holder"> <a href="#" ><%= image_tag("reports/icon3.png", height: '84', width: '86')%></a> </div>
            <div class="text-area">
              <span class="num">
                <%= t("monthly_snapshot.marketing.visits") %> <%= @visits %>
              </span> 
              <span class="text">
                <%= t("monthly_snapshot.marketing.non_profile") %> (<%= @fp %>) 
                <%= t("monthly_snapshot.marketing.profile") %> (<%= @perfil %>)
              </span> 
            </div>
          </div>
          <div class="column">
            <div class="img-holder"> <a href="#" ><%= image_tag("reports/icon4.png", height: '84', width: '86')%></a> </div>
            <div class="text-area"> 
              <span class="num">
                <%= @enrollments %>
              </span> 
              <span class="text">
                <%= t("monthly_snapshot.marketing.subscriptions") %>
              </span> 
            </div>
          </div>
        </div>
        <div class="two-column">
          <div class="column">
            <div class="heading-area">
              <h2><%= t("monthly_snapshot.marketing.convertion_rate") %></h2>
            </div>
            <div class="percentage"> <span class="num">X%</span> <span class="text">
              <%= t("monthly_snapshot.marketing.remote_contacts_became_visit") %></span> </div>
            <div class="percentage"> <span class="num">X%</span> <span class="text">
              <%= t("monthly_snapshot.marketing.visit_became_subscriptions") %> </span> </div>
            <div class="percentage"> 
              <span class="num">
                <%= @convertion %>%
              </span> 
              <span class="text">
                <%= t("monthly_snapshot.marketing.total_successful_rate") %>
              </span> 
            </div>
          </div>
          <div class="column2">
            <div class="heading-area">
              <h2><%= t("monthly_snapshot.marketing.total_demand") %></h2>
            </div>
            <div class="price-bar">
              <p>
                <input type="text" id="amount" class="value" value = <%= @demand %> >
                <label for="amount"><%= t("monthly_snapshot.marketing.Total_Demand") %></label>
              </p>
              <div id="slider-range" style="width:210px;"> </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>
