<%= cache pedagogic_snapshot_cache_key do %>
<div id="wrapper">
  <div id="main">
    <div id="content">
        <div class="snapshort-holder">
          <div class="heading">
            <h1>
              <%= t("monthly_snapshot.pedagogic.monthly_snapshot") %>
              <% if not_upto_date && @school.synced_at -%>
                <span class="label label-info">
                  <%= "#{t('schools.index.synced_at')} #{l(@school.synced_at, format: :long)}" %>
                </span>
              <% end -%>
            </h1>
            <div class="date-area">
              <%= sync_button %>
              <div class="date">
                <%= link_to "", set_prev_month_url, class:'previ' %> 
                <span class="year"><%= set_current_month_and_year %></span>
                <%= link_to "", set_next_month_url, class:'next' %> 
              </div>
            </div>
          </div>
          <div class="four-column-area">
            <div class="column-area">
              <div class="headline">
                <h3><%= t("monthly_snapshot.pedagogic.successful_enrollments") %></h3>
              </div>
              <div class="num-area">
                <span class="num"><%= number_with_delimiter(@enrollments) %> </span>
                <div class="img-holder"> 
                  <%= image_tag("reports/icon5_03.png", height: '37', width: '197')%>
                </div>
              </div>
            </div>
            <div class="column-area">
              <div class="headline">
                <h3><%= t("monthly_snapshot.pedagogic.total_dropouts") %></h3>
              </div>
              <div class="num-area">
                <span class="num"><%= number_with_delimiter(@dropouts) %></span>
                <div class="img-holder"> 
                  <%= image_tag("reports/icon6_03.png", height: '37', width: '197')%> </div>
                </div>
            </div>
            <div class="column-area">
              <div class="headline">
                <h3><%= t("monthly_snapshot.pedagogic.total_students") %></h3>
              </div>
              <div class="num-area">
                <span class="num"><%= number_with_delimiter(@students) %></span>
                <div class="img-holder"> 
                  <%= image_tag("reports/icon7_03.png", height: '37', width: '197')%> 
                </div>
              </div>
            </div>
            <div class="column-area">
              <div class="headline">
                <h3><%= t("monthly_snapshot.pedagogic.growth_or_decrease") %> </h3>
              </div>
              <div class="num-area">
                <span class="num"><%= set_growth_rate(@growth) %></span>
                <div class="img-holder"> 
                  <%= image_tag("reports/icon8_03.png", height: '37', width: '197')%> 
                </div>
              </div>
            </div>
          </div>
          <div class="graph">
          <div id="chartdiv" style="width: 100%; height: 400px;"></div>
        </div>
        <section class="distribution-area">
          <div class="main-distribution">
            <div class="headline">
              <h2><%= t("monthly_snapshot.pedagogic.distribution_male_&_female") %></h2>
            </div>
            <div class="distribution">
              <div class="placeholder">
                <canvas id="canvas" height="165" width="164"></canvas>
              </div>
              <div class="distribution-list">
                <ul>
                  <li class="mail">
                    <%= @male_students%> % 
                    <%= t("monthly_snapshot.pedagogic.male") %>
                  </li>
                  <li class="femail">
                    <%= @female_students %> % 
                    <%= t("monthly_snapshot.pedagogic.female") %>
                  </li>
                  <li class="average">
                    <%= t("monthly_snapshot.pedagogic.average_student") %> 
                    <span><%= @students_avg_age %> <%= t("monthly_snapshot.pedagogic.years") %></span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="student-distribution" style="display: none">
            <div class="headline">
              <h2><%= t("monthly_snapshot.pedagogic.total_of_students") %> </h2>
            </div>
            <div class="distribution">
              <div class="placeholder">
                <canvas id="canvas2" height="165" width="164"></canvas>
              </div>
              <div class="distribution-list add">
                <ul>
                  <li class="begginer">
                    <%= t("monthly_snapshot.pedagogic.begginer") %>
                    <strong><%= @begginer %> %</strong> 
                  </li>
                  <li class="graduate">
                    <%= t("monthly_snapshot.pedagogic.graduate") %> 
                    <strong><%= @graduate %> %</strong> 
                  </li>
                  <li class="senior">
                    <%= t("monthly_snapshot.pedagogic.senior") %> 
                    <strong><%= @senior %> %</strong> 
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>    
  </div>
</div>
<script>
  function pedagogic_chart_labels() {
    return <%= pedagogic_chart_labels %>
  }
  function pedagogic_chart_data() {
    return <%= pedagogic_chart_data %>
  }
  function distribution_pie_chart_data() {
    return <%= distribution_pie_chart_data %>
  }
  function students_pie_chart_data() {
    return <%= students_pie_chart_data %>
  }
</script>
<% end -%>
