<%- breadcrum t("monthly_snapshot.pedagogic.monthly_snapshot") -%>
<%# cache pedagogic_snapshot_cache_key(@year,@month) do %>
<div class='report-container'>
  <header class='report-head'>
    <p><%= set_current_month_and_year %></p>
    <div class='btn-group'>
      <%= link_to "<span class='glyphicon glyphicon-chevron-left'></span>".html_safe,
                  set_prev_month_url,
                  class:'btn btn-secondary btn-sm' %>
      <% unless current_month? %>
        <%= link_to "<span class='glyphicon glyphicon-chevron-right'></span>".html_safe,
                    set_next_month_url,
                    class:'btn btn-secondary btn-sm' %>
      <% end %>
      <%= sync_button %>
    </div>
  </header>
  <section class='report-content'>
    <div class='row'>
      <div class='col-sm-8 col-md-8'>
        <div class='row'>
          <div class='col-xs-6 col-sm-3 col-md-3 col-md-padd'>
            <div class='card card-default'>
              <div class='card-body'>
                <h3><%= t("monthly_snapshot.pedagogic.successful_enrollments") %></h3>
                <p class='num'><%= number_with_delimiter(@enrollments) %></p>
              </div>
            </div>
          </div>
          <div class='col-xs-6 col-sm-3 col-md-3 col-md-padd'>
            <div class='card card-default'>
              <div class='card-body'>
                <h3><%= t("monthly_snapshot.pedagogic.total_dropouts") %></h3>
                <p class='num'><%= number_with_delimiter(@dropouts) %></p>
              </div>
            </div>
          </div>
          <div class='col-xs-6 col-sm-3 col-md-3 col-md-padd'>
            <div class='card card-default'>
              <div class='card-body'>
                <h3><%= t("monthly_snapshot.pedagogic.total_students") %></h3>
                <p class='num'><%= number_with_delimiter(@students) %></p>
              </div>
            </div>
          </div>
          <div class='col-xs-6 col-sm-3 col-md-3 col-md-padd'>
            <div class='card card-default'>
              <div class='card-body'>
                <h3><%= t("monthly_snapshot.pedagogic.growth_or_decrease") %> </h3>
                <p class="num"><%= set_growth_rate(@growth) %></p>
              </div>
            </div>
          </div>
          <div class='col-sm-12 col-md-12'>
            <div class="graph">
              <div id="chartdiv" style="width: 100%; height: 400px;"></div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-sm-4 col-md-4'>
        <section class='section-distribution'>
          <canvas id="canvas" height="165" width="164"></canvas>
          <p class='male-students'>
            <span><%= @male_students%>%</span> <%= t("monthly_snapshot.pedagogic.male") %>
            </p>
          <p class='female-students'>
            <span><%= @female_students %>%</span> <%= t("monthly_snapshot.pedagogic.female") %>
          </p>
          <p class='average-students'>
            <span><%= t("monthly_snapshot.pedagogic.average_student") %></span> <%= @students_avg_age %> <%= t("monthly_snapshot.pedagogic.years") %>
          </p>
        </section>
      </div>
    </div>
    <%= render 'sync_notification' %>
  </section>
</div>
<script>
  function pedagogic_chart_labels() {
    return <%= pedagogic_chart_labels %>
  }
  function pedagogic_chart_data() {
    return <%= pedagogic_chart_data %>
  }
  function distribution_pie_chart_data() {
    return <%= distribution_pie_chart_data %>
  }
  function students_pie_chart_data() {
    return <%= students_pie_chart_data %>
  }
</script>
<%# end -%>
