    <div id="module-sub-menu">
      <% if can?(:detail, Federation) -%>
          <% if current_user.federation.present? && current_ability.federations.count == 1 -%>
            <%= link_to current_user.federation.name, current_user.federation %>
          <% else -%>
            <%= link_to t('layouts.navbar.federations'), federations_path -%>
          <% end -%>
      <% end -%>
      <% if can?(:manage, School) -%>
        | 
          <%= link_to t('layouts.navbar.schools'), schools_path %>
      <% end -%>
      <% if can?(:manage,User) -%>
        | 
          <%= link_to t('layouts.navbar.users'), users_path %>
      <% end -%>
      <% if can?(:history,Ranking) -%>
        | 
          <%= link_to t('layouts.navbar.history'), history_ranking_path %>
      <% end -%>
    </div>
