<nav id="navbar-1" class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">PADMA</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul id="menu-top-left" class="nav navbar-nav">
      <li><a href="<%= APP_CONFIG['crm-url']%>">PADMA</a></li>
      <li><a href="<%= APP_CONFIG['crm-url']%>">CRM</a></li>
      <li><a href="<%= APP_CONFIG['accounts-url']%>">Accounts</a></li>
      <li><a href="<%= APP_CONFIG['support-url']%>">Centro de Ayuda</a></li>
      <li><a href="<%= APP_CONFIG['fnz-url']%>">Financiero</a></li>
    </ul>
    <ul id="menu-top-right" class="nav navbar-nav navbar-right">
      <li><a id="username" href="<%= APP_CONFIG['accounts-url']%>"><img src="https://secure.gravatar.com/avatar/d55ef2d05b82c322260a7148e4b8d6bb.gif?d=<%= APP_CONFIG['crm-url'] %>/assets/header_sessionbox_userpicture.png&r=PG&s=21">
        <%= current_user.username %>
        </a></li>
      <li>
        <%= link_to logout_url do %>
          <span class="glyphicon glyphicon-off"></span><span class="translation_missing" title="translation missing: es.logout"></span>
        <% end %>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav> 

<nav id="navbar-2" class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex2-collapse">
      <span class="sr-only">Overmind</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse navbar-ex2-collapse">
    <ul class="nav navbar-nav">
      <%= link_to image_tag('logo_30px.png'), root_url, class: "navbar-brand hidden-xs" %>

      <% if can?(:read, Ranking) -%>
        <li class="<%= 'active' if controller_name == 'rankings' %>">
          <%= link_to t('.ranking'), ranking_path %>
        </li>
      <% end -%>

      
      <%# if can?(:see_global,MonthlyStat) -%>
        <!-- 
        <li class="<%# 'active' if controller_name == 'monthly_stats' %>">
          <%# link_to t('.global'), global_monthly_stats_path %>
        </li> -->
      <%# end -%>

      <% if can?(:read, Federation) -%>
        <li class="<%= 'active' if controller_name == 'federations' %>">
          <% if current_user.federation.present? && current_ability.federations.count == 1 -%>
            <%= link_to current_user.federation.name, current_user.federation %>
          <% else -%>
            <%= link_to t('.federations'), federations_path -%>
          <% end -%>
        </li>
      <% end -%>

      
      <% if current_school && can?(:read, current_school) -%>
        <li class="<%= 'active' if controller_name == 'schools' && action_name == 'show' %>">
          <%= link_to t('.current_school_general_indices'), current_school  %>
        </li>
      <% end -%>

      <% if can?(:read,:reports) && @school -%>
        <li class="<%= 'active' if controller_name == 'reports' && action_name == 'pedagogic_snapshot' %>">
        <%= link_to t('.pedagogic_snapshot'),
          pdg_school_reports_path(school_id: @school.id,
                                  year: Date.today.year,
                                  month: Date.today.month)%>
        </li>
      <% end -%>

      <% if can?(:read, TeacherRanking) -%>
        <li class="<%= 'active' if controller_name == 'reports' && action_name == 'pedagogic_snapshot' %>">
        <%= link_to t('.teacher_ranking'), teacher_ranking_path %>
        </li>
      <% end -%>


      <% if can?(:manage, School) -%>
        <li class="<%= 'active' if controller_name == 'schools' && action_name == 'index' %>">
          <%= link_to t('.schools'), schools_path %>    
        </li>
      <% end -%>

      <% if can?(:manage,User) -%>
        <li class="<%= 'active' if controller_name == 'users' %>">
          <%= link_to t('.users'), users_path %>
        </li>
      <% end -%>


    </ul>
    <form class="navbar-form navbar-right navbar-input-group" role="search" action="<%= schools_path %>" id="navbar-search" method="get">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" name="q[name_cont]" id="srch-term">
      </div>
      <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
    </form>  
  </div>
</nav> 
